body{
    background-image: url(../images/bookform.jpg)  ;
    background-size: cover;
    background-repeat: no-repeat;
}
.formbook{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background:rgb(0,0,0,0.5);
    padding: 30px;
    height: 70%;
    width: 31%;  
    color: white;    
}
.formbook form{
    padding: 20px;

}
.formbook input{
    width: 100%;
    margin-bottom: 10px;
    color: white; 
}
.formbook form input[type="text"],select,
input[type="date"],input[type="number"],input[type="tel"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 30px;
    color:white;
    font-size: 16px;
}
.formbook input[type="date"],input[type="number"],input[type="tel"],select{
    width: 48%;
}
input[type="tel"]{
    margin-left: 8px;
    width: 49%;

}
.formbook input[type="submit"] {
    border: none;
    margin-left: 10%;
    height: 40px;
    outline: none;
    background: #00a9ff;
    color:black;
    font-size: 18px;
    border-radius: 20px 0px 0px 20px;
    width: 40%;
}
.formbook input[type="reset"] {
    border: none;
    height: 40px;
    outline: none;
    background: #00a9ff;
    color:black;
    width: 40%;
    font-size: 18px;
    border-radius: 0px 20px 20px 0px;
}
.formbook select option{
    background: transparent;
}
.formbook input::placeholder{
    color: rgba(229, 252, 97, 0.6);
}
input[type=date]::-webkit-inner-spin-button, 

input[type=date]::-webkit-outer-spin-button { 

  -webkit-appearance: none; 

  margin: 0; 

}